@import 'variables';

@media screen and (max-width: 1060px) {
	.width-center-block {width: 840px;}
}

@media screen and (max-width: 860px) {
	.width-center-block {width: 560px;}
}

@media screen and (max-width: 600px) {
	.width-center-block {width: 100%;}
}