header {
	height: 180px; background: url(../img/label-header.jpg) no-repeat; background-position: 600px 0;
	.header-logo-block {
		height: 100%; float: left;
		img {margin-top: 40px;}
		p {color: $font-color-2-1; padding: 10px 0;}
		p.star-micro {
			color: $font-color-1-1; background: url(../img/icons/star-micro.png) no-repeat left center;
			padding: 0 0 0 18px;
		}
		a {color: $font-color-2-1;}
	}
	.header-certificate-block {
		float: left; padding-left: 60px; bottom: 0; margin-top: 34px; margin-left: 10px;
		background: url(../img/icons/certificate.png) no-repeat left center; background-position: 10px 24px;
		p:first-child {font-size: 16px; color: $font-color-2-3;}
		h4 {color: $font-color-1-1; padding-top: 6px;}
		p {font-size: 16px; color: $font-color-1-1;}
	}
	.header-phone-block {
		height: 100%; float: right; padding-left: 70px; display: table; vertical-align: middle;
		background: url(../img/icons/phone.png) no-repeat left center; background-size: 64px 54px;
		.header-phone-block-align {
			display: table-cell; vertical-align: middle; color: $font-color-2-4;
		}
	}
}
main {}

.key-block {
	float: right; width: 300px; height: 716px; text-align: center;
	background: url(../img/key-bg.png) no-repeat; background-size: 100% 100%;
	h3 {line-height: 30px;}
	.key-block-head {
		width: 230px; height: 120px;
		background: url(../img/key-head-bg.png) no-repeat; background-size: 100% 100%;
		color: $font-color-3-1;
		padding-top: 22px; padding-left: 35px; padding-right: 35px;
	}
	.warranty {
		width: 132px; height: 127px; background: url(../img/warranty.png) no-repeat;
		background-size: 100% 100%; margin: 0 auto; margin-top: 18px;
	}
	a {color: $font-color-1-1; font-size: 22px; margin: 10px 0; display: inline-block;}
}