@import 'variables';

//div, ul, li, ul, li,h1, h2, p, a, header, main {outline: 1px red solid;}
//.clear {outline: 1px blue solid;}

html,body {width: 100%; height: 100%; font-family: "Tahoma",Tahoma,Arial,sans-serif;}

h1,h2,h3,h4,h5,h6,p {margin: 0; padding: 0;}

h1 {font-size: 40px;}
h2 {font-size: 38px;}
h3 {font-size: 31px;}
h4 {font-size: 30px;}
h5 {font-size: 26px;}
h6 {font-size: 24px;}
p {font-size: 18px;}
a {font-size: 16px;}

span {font-weight: bold;}

/* Убираем странный нижний отступ */
img {vertical-align:bottom;}

/* сбрасываем float'ы */
.clear {clear: both;}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/* класс задает ширину основного контента - является адаптивным */
.width-center-block {width: 1020px; margin: 0 auto;}
/* класс задает ширину основного контента - тянется на 100% по ширине */
.fullwidth-block {width: 100%;}

/* кнопки */
.buttont-1 {
	width: 176px; height: 24px; line-height: 22px; text-align: center; color: $font-color-3-1;
	background: url(../img/icons/btn-1.png) no-repeat; background-size: 176px 72px; cursor: pointer;
	margin: 6px 0; background-position: 0px 0px;
	&:hover {background-position: 0 -24px;}
	&:active {background-position: 0 -48px;}
}
.buttont-2 {
	width: 202px; height: 59px; text-align: center; color: $font-color-3-1;
	background: url(../img/icons/btn-2.png) no-repeat; background-size: 202px 177px; cursor: pointer;
	margin: 6px 0; background-position: 0px 0px;
	&:hover {background-position: 0 -59px;} font-size: 22px; display: inline-block;
	&:active {background-position: 0 -118px;}
}
.buttont-3 {
	width: 294px; height: 60px; text-align: center; color: $font-color-3-1;
	background: url(../img/icons/btn-2.png) no-repeat; background-size: 294px 180px; cursor: pointer;
	background-position: 0px 0px; line-height: 60px;  font-size: 28px; float: right; margin-right: 40px; margin-top: 12px;
	&:hover {background-position: 0 -60px;} display: inline-block;
	&:active {background-position: 0 -120px;}
}
.buttont-4 {
	width: 140px; height: 34px; line-height: 30px; text-align: center; color: $font-color-3-1;
	background: url(../img/icons/btn-1.png) no-repeat; background-size: 140px 102px; cursor: pointer;
	margin: 6px 0; background-position: 0px 0px; font-size: 14px; font-weight: bold;
	margin-left: 6px;
	&:hover {background-position: 0 -34px;}
	&:active {background-position: 0 -68px;}
}

/* выравнивание */ 

.table {display: table; height: 100%;}
.table-cell {display: table-cell; vertical-align: middle; height: 100%;}

/**/

.padding-block-height-60 {
	height: 60px; width: 100%;
}