/* variables */

$font-color-1-1: #ff0000; // red-1
$font-color-1-2: #ed1c24; // red-2
$font-color-2-1: #08529d; // blue-1
$font-color-2-2: #07529e; // blue-2
$font-color-2-3: #074890; // blue-3
$font-color-2-4: #07478e; // blue-4
$font-color-3-1: #fff; // white-1
$font-color-4-1: #323232; // gray-1
$font-color-4-2: #303030; // gray-2
$font-color-5-1: #000; // black-1
$font-color-6-1: #07519f; // blue-1
$font-color-6-2: #4b96e8; // blue-2
$font-color-6-3: #08509e; // blue-3
$font-color-6-4: #466eab; // blue-4

/* gradient */

$gradient-1: #fff1b7;
$gradient-2: #f6fcff;
$gradient-3: #e5f6ff;

/* shadow */

$box-shawdow-1: 0px 6px 20px 0px rgba(0, 0, 0, 0.7);